[user]
	name = Jandy Tenedora
	useConfigOnly = true
[push]
	default = simple
[filter "lfs"]
	process = git-lfs filter-process --skip
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
